---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import HighlightedPosts from '~/components/blog/HighlightedPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

const response = await fetch(
  'https://balancepolefitness.com/n/public/api/lessons'
);
const data = await response.json();
const featuresData = data
  .filter((d) => d.active === '1')
  .map((i) => {
    return {
      title: `${i.type} - ${i.name}`,
      description: i.description,
      icon: 'tabler:bulb',
    };
  });
const leftData = featuresData.splice(0, featuresData.length / 2);
const rightData = featuresData.splice(0, featuresData.length);
const year = +new Date().getFullYear() - 2011;
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{
      text: 'Obtén tu clase muestra',
      href: `https://wa.me/52${SITE.phone}`,
      icon: 'tabler:award',
    }}
    callToAction2="modal"
    image={{
      src: import('~/assets/images/hero.jpg'),
      alt: 'Hero Balance Pole Fitness',
    }}
  >
    <Fragment slot="title">
      ¡Da el salto al mundo del pole fitness con nosotros!
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span
          class="font-semibold underline decoration-wavy decoration-1 decoration-primary-600 underline-offset-2"
          >¿Qué te detiene?</span
        > En Balance tenemos clases de <em>Pole</em>, <em>Aerial Skills</em> y disciplinas
        complementarias</span
      >
      <span class="block mb-1 sm:hidden font-bold text-primary-600"
        >Balance Pole Fitness.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Content Widget **************** -->

  <Content
    highlight="Nosotros"
    title="¿Quiénes Somos?"
    content={`Somos el primer estudio de Pole Fitness especializado en la enseñanza de este deporte en la ciudad de Mérida, Yucatán. Contamos con ${year} años de experiencia y con el mejor equipo de instructores certificados Nacional e Internacionalmente  para tu mejor preparación en la práctica de este deporte.`}
    idSection="about-us"
    items={[
      {
        title:
          'Instructores altamente capacitados y con experiencia en pole fitness',
      },
      {
        title:
          'Una amplia variedad de clases y niveles para todos los interesados en pole fitness',
      },
      {
        title:
          'Un ambiente de apoyo y comunidad para ayudarlo a alcanzar sus metas de pole fitness',
      },
    ]}
    image={{
      src: import('~/assets/images/about.jpg'),
      alt: 'about balance pole',
    }}
  />

  <!-- Features Widget *************** -->

  <Features
    highlight="Clases"
    title="Nuestras Clases"
    subtitle="Todas nuestras clases son impartidas por instructoras capacitadas y en constante entrenamiento. Te describimos los diferentes estilos de pole que impartimos y recomendamos ampliamente darle importancia a las clases complementarias para mejorar tu rendimiento en el Pole"
    items={[leftData, rightData]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight="Más"
    title="Servicios extras"
    idSection="extra"
    isReversed
    items={[
      {
        title: 'Fisioterapia',
      },
      {
        title: 'Nutrición',
      },
      {
        title: 'Cafetería',
      },
      {
        title: 'Lashes',
      },
      {
        title: 'Microblading',
      },
      {
        title: 'Clases de danza para niños "Slide Studio"',
      },
    ]}
    image={{
      src: import('~/assets/images/extra.jpg'),
      alt: 'servicios extra',
    }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Empieza hoy  mismo"
    items={[
      {
        title:
          'Paso 1: Ingresa a <a class="text-brand-light" href="https://balancepolefitness.com/client">https://balancepolefitness.com/client</a>',
        description:
          'Crea tu cuenta, ingresando tu correo electrónico y una contraseña',
        icon: 'tabler:at',
      },
      {
        title: 'Paso 2: Elige tu(s) paquete(s)',
        description:
          'Selecciona el paquete de clases que desees: Pole, Aerial Skills o clases complementarias y confirma tu pago',
        icon: 'tabler:box',
      },
      {
        title: 'Paso 3: Elige tus clases y horarios',
        description:
          'Selecciona las clases y horarios que desees del paquete que hayas adquirido',
        icon: 'tabler:calendar',
      },
      {
        title: 'Listo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/steps.jpg'),
      alt: 'pasos para registrarte',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <!-- <HighlightedPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        },
        {
          question: 'How to install the Astro + Tailwind CSS template?',
          answer:
            "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.",
        },
        {
          question: "What's something that you don't understand?",
          answer:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
      ],
      [
        {
          question: "What's an example of when you changed your mind?",
          answer:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        },
        {
          question: 'What is something that you would like to try again?',
          answer:
            "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
        },
        {
          question:
            'If you could only ask one question to each person you meet, what would that question be?',
          answer:
            "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    title={'🤩'}
    items={[
      { name: 'Experiencia', value: '12 años' },
      { name: 'Clientes', value: '+100' },
      { name: 'Clases', value: '+14' },
      { name: 'Mérida', value: '1' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <section class="scroll-mt-16" id="contact">
    <CallToAction
      callToAction={{
        text: 'Escríbenos',
        href: 'mailto:contacto@balancepolefitness.com?subject=Contact from website',
        icon: 'tabler:mail',
      }}
    >
      <Fragment slot="title">
        Contacto + <br class="block sm:hidden" /><span
          class="sm:whitespace-nowrap">Información</span
        >
      </Fragment>

      <Fragment slot="subtitle">
        ¡Te invitamos a enviarnos un correo electrónico! Estaremos encantados de
        responder cualquier pregunta o comentario que tenga. Por favor, envíe su
        mensaje. <br class="hidden md:inline" />¡Esperamos escuchar de usted
        pronto!
      </Fragment>
    </CallToAction>
  </section>
</Layout>
